.cell{
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin: 0px;
}

.cell.alive{
  background-color: blue;
}

.cell.dead{
  background-color: white;
}

.cell:hover{
  background-color: aqua;
}

.grid{
  width: 1000px;
  line-height: 0;
  margin: auto;
  margin-top: 20px;
}

body{
  margin: auto;
  text-align: center;
}

.dropdownSelects{
  display:none;
  position: absolute;
}

.dropdown:hover .dropdownSelects{
  display: block;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdownSelects Button:hover{
  background-color: aquamarine;
}

fieldset strong
{
	float: left;
	width: 5em;
}